.filter-card {
    margin: 24px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.job-filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.job-filter-container mat-form-field {
    flex: 1;
    min-width: 280px;
}

.no-jobs-message {
    padding: 16px;
    background-color: #f7f7f7;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 26px;
    margin: 16px auto 16px auto;
    max-width: 400px;

}