<mat-card class="profile-form">
    <mat-card-title class="title">Company Profile</mat-card-title>
    <mat-card-content>
        <form [formGroup]="companyForm" (ngSubmit)="saveCompany()" class="profile-form-content">

            <mat-form-field appearance="fill">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Website</mat-label>
                <input matInput formControlName="website">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="4"></textarea>
            </mat-form-field>

            <button mat-button type="button" (click)="openComments(comments)">
                <mat-icon>comment</mat-icon> View Comments
            </button>


            <div class="file-upload">
                <label for="logoUpload">Upload Logo (PNG/JPEG)</label>
                <input type="file" id="logoUpload" (change)="onLogoSelected($event)" accept="image/*">
                <div *ngIf="logoPreviewUrl" class="logo-preview">
                    <p>Preview:</p>
                    <div class="logo-preview-container">
                        <img [src]="logoPreviewUrl" alt="Logo Preview" class="logo-img">
                        <button mat-button color="warn" type="button" (click)="removeLogo()">Remove Logo</button>
                    </div>
                </div>
            </div>

            <mat-card-actions class="sign-out-actions">
                <button mat-raised-button color="warn" (click)="signOut()">
                    <mat-icon>logout</mat-icon>
                    Sign Out
                </button>
            </mat-card-actions>

            <div class="form-actions">
                <button mat-raised-button type="button" (click)="goBack()">Back</button>
                <button mat-raised-button color="primary" type="button" (click)="saveCompany()">Save</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>