.no-jobs-message {
    padding: 16px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 26px;
    margin-top: 16px;
    max-width: 400px;
    margin-bottom: 24px;
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}