<mat-card class="job-card" (click)="handleClick()">
    <mat-card-header>
        <mat-card-title>{{ job.title }}</mat-card-title>
        <mat-card-subtitle>{{ job.companyName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="job-content-container">
            <div class="job-details">
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Type:</strong> {{ job.type }}</p>
                <p><strong>Category:</strong> {{ job.category }}</p>
            </div>
            <app-job-action [job]="job" (jobUnsaved)="handleJobUnsaved($event)"></app-job-action>
        </div>
    </mat-card-content>
</mat-card>