<app-header title="Job details"></app-header>
<div *ngIf="job" class="job-detail-container">
    <mat-card class="job-detail-card">
        <div class="job-header">
            <h1 class="job-title">{{ job.title }}</h1>
            <app-job-action [job]="job"></app-job-action>
        </div>

        <div class="job-properties">
            <p class="job-property">
                <mat-icon>location_on</mat-icon>
                <span>{{ job.location }}</span>
            </p>
            <p class="job-property">
                <mat-icon>schedule</mat-icon>
                <span>{{ job.type }}</span>
            </p>
            <p class="job-property">
                <mat-icon>category</mat-icon>
                <span>{{ job.category }}</span>
            </p>
        </div>

        <div class="job-company">
            <a [routerLink]="['/company', job.companyId]" class="company-link">
                <img *ngIf="job.companyLogo" [src]="job.companyLogo" class="company-logo">
                <span class="company-name">{{ job.companyName }}</span>
            </a>
        </div>

        <div class="job-description">
            <p>{{ job.description }}</p>
        </div>
        <div class="back-button-container">
            <button mat-raised-button color="#C3C3C3" (click)="goBack()">Back</button>
        </div>
    </mat-card>
</div>